@(randomUser: RandomUser)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Employee</title>
</head>
<body>
@for(results <- randomUser.getResults){

<form method="POST" action ="@routes.EmployeesController.addEmployee()" id="newEmployee">
   First Name: <input type="text" name ="firstName" value = "@results.getName.getFirst" /> <br>
   Last Name: <input type="text" name ="lastName" value = "@results.getName.getLast" /> <br>
}
    <button>Add Employee</button>
</form>
</body>
</html>